.messeges-alerts {
    text-align: center;
    margin-top: 10px;
    margin-left: 7%;
    margin-right: 10%;

}

.detail-perfil {
    width: 310px;
    height: 210px;
}

.perfil-salvar {
    float: right;
}